body {
    padding-top: 58px !important;
}

vitexpress {
    &#ButtonAddToCart .ant-btn {
        --swiper-navigation-size: 44px;
        --swiper-theme-color: none;
        width: 288px;
        word-break: break-all;
        margin: 0;
        font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
        font-size: 100%;
        border-radius: 0;
        outline: 0;
        font-family: PingFang SC;
        border: 0;
        cursor: pointer;
        height: 48px;
        line-height: 22px;
        text-align: center;
        padding: 0 36px;
        border-radius: 34px;
        background: linear-gradient(90deg, rgb(255, 119, 0), rgb(255, 73, 0));

        box-shadow: rgba(255, 119, 0, 0.2) 0px 9px 13px 0px;
        vertical-align: top;

        --swiper-navigation-size: 44px;
        --swiper-theme-color: none;
        word-break: break-all;
        font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
        font-family: PingFang SC;
        cursor: pointer;
        line-height: 22px;
        text-align: center;
        display: inline;
        font-size: 16px;
        font-weight: bold;
        color: rgb(255, 255, 255);

        &:hover {
            background: linear-gradient(90deg, rgb(255, 119, 0), rgb(255, 73, 0));
        }
    }

    &#ToolBar {
        top: 0;
        position: fixed;
        z-index: 99999;
        width: 100%;
        display: block;
        border-bottom: 1px solid #a59292;
        border-bottom: 1px solid #a59292;
        background-color: white;

        ul {
            width: 1190px;
            margin: auto;
            height: 55px;
        }


    }

    .ant-menu-overflow-item ant-menu-item {
        top: 12px
    }
}

.ant-menu, .ant-menu-sub {
    z-index: 9999999;
}